<!DOCTYPE html>
<html>
<head>

  <title>CoinExchange</title>

  <!-- Meta -->
  <%= csrf_meta_tags %>

  <!-- Favicon -->
  <%= favicon_link_tag '/favicon.ico' %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <%= yield %>

  <!-- Javascript -->
  <%= javascript_include_tag 'application' %>
</body>
</html>
